<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

  <flow name="get-inventory-by-sku-flow">
    <http:listener config-ref="HTTP_Listener_Config" path="/inventory/{sku}" method="GET"/>
    <logger level="INFO" message="Inventory lookup for SKU: #[attributes.uriParams.sku]"/>
    <error-handler ref="Global_Error_Handler"/>
  </flow>

  <flow name="reserve-inventory-flow">
    <http:listener config-ref="HTTP_Listener_Config" path="/inventory/reserve" method="POST"/>
    <!-- WARROOM-TEST S3: PII in logger - logs customer.email - Phase 4 WARN -->
    <logger level="INFO" message="Reservation from customer: #[payload.customer.email] for SKU: #[payload.sku]"/>
    <error-handler ref="Global_Error_Handler"/>
  </flow>

  <flow name="low-stock-alert-flow">
    <http:listener config-ref="HTTP_Listener_Config" path="/inventory/low-stock" method="GET"/>
    <logger level="INFO" message="Low stock check requested"/>
    <error-handler ref="Global_Error_Handler"/>
  </flow>

</mule>